{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>LoL Project</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <h1 class="projectTitle">League of Legends Project</h1>
        <hr />
        <div class="homepage">
            <a href="/champions">View All The League of Legends Champions!</a>
            <img src="https://s3-eu-central-1.amazonaws.com/www-staging.esports.com/WP%20Media%20Folder%20-%20esports-com//var/app/current/web/app/uploads/2021/02/Riot-Games-League-of-legends-beginners-guide-720x405.jpg"
        </div>
        <footer>Edison Fu 2021</footer>
    </body>
</html>